# Plugwise CodeOwners
# Order is important. The last matching pattern has the most precedence.

# Specific files
setup.cfg @plugwise/plugwise-usb
pyproject.toml @plugwise/plugwise-usb
requirements*.txt @plugwise/plugwise-usb

# Main code
/plugwise_usb/ @plugwise/plugwise-usb

# Tests and development support
/tests/ @plugwise/plugwise-usb
/scripts/ @compatech

# USB specific
/plugwise/controller.py @bouwew @plugwise/plugwise-usb

# Generic
* @plugwise/plugwise-usb
